.post {
  background-color: white;
  max-width: 500px;
  border: 1px solid lightgray;
  border-radius: 0.8%;
  margin-bottom: 15px;
}

.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post__text {
  font-weight: normal;
  padding: 10px;
}

.post__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.post__avatar {
  margin-right: 10px;
}

.post__username {
  display: flex;
  align-items: center;
}

.comments {
  max-height: 100px;
  overflow: auto;
}

.comments .post__comments {
  margin: 0;
  animation: scroll;
}

.post__commentBox {
  display: flex;
  margin-top: 10px;
}

.post__likeComment {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.post__comments {
  display: flex;
  justify-content: space-between;
  max-height: 100px;
  padding: 2px;
  overflow: auto;
  animation: scroll;
}

.post__deleteComment {
  display: flex;
  cursor: pointer;
}

.post__userCaption {
  display: flex;
  padding-left: 5px;
}

.post__input {
  flex: 1;
  border: none;
  border-top: 1px solid lightgray;
  padding: 10px;
}

.post__button {
  flex: 0;
  border: none;
  color: #6082a3;
  background-color: transparent;
  border-top: 1px solid lightgray;
  cursor: pointer;
}
